<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index_style.css">
  
  <style>
    body{
      background-image: url(table-2879201_1280.jpg) !important;
    }
  </style>

</head>

  

<body>
  

<nav class="col-sm-12 navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">More Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="Add_Recipe.html">Add Recipe</a></li>
          <li class="nav-item"><a class="nav-link" href="modify_recipe.html">Modify Recipe</a></li>
          <li class="nav-item"><a class="nav-link" href="view_recipe.html">View Recipe</a></li>
          <li class="nav-item"><a class="nav-link" href="favorite.html">Favorite</a></li>
        </ul>
        <a class="navbar-brand btn btn-danger" href="#">Log out</a>
      </div>
    </div>
</nav>


    
<div class="container-fluid" >
    <div class="container-fluid bg-3 text-center ">   
        <div class="row">
            <div class="col-sm-4"></div>
                <div class="form-group  col-sm-4 add_recipe_form" style="margin-top:125px; margin-bottom:200px">
                    <h1>Create Recipe</h1>
                        <form class="col-md-12" method="post" action="" style="padding-bottom: 0px;" role="form">
                            <input type="text" placeholder="Enter Recipe Name" name="fname" value="" class="form-control" required /><br>
                            <input type="text" placeholder="" name="lname" value="" class="form-control" required /><br> 

                            <input type="text" placeholder="" name="address" value="" required class="form-control"/><br> 
                            <input type="text" placeholder="" name="telephone" value="" required class="form-control" /><br>
                            <input type="text" placeholder="" name="email" value="" required class="form-control" />
                            <br>

                            <button class="btn btn-success" name="submit" type="submit">Create</button>  
                            <button class="btn btn-danger" name="Reset" type="Reset">Clear</button>  

                        </form>
                </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

    
<footer class="col-sm-12 btn btn-danger">
    <div class="row">
        <div class="col-sm-3">
            Copyright 2017
        </div>
        <div class="col-sm-3 offset-sm-2">
            <ul id="footer_list">
              <li>Terms</li>
              <li>Privacy</li>
              <li>Security</li>
              <li>Help</li>
            </ul>
          </div>
    </div>
</footer>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
