<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index_style.css">
</head>


<body>
<nav class="col-sm-12 navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="index.html">More Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="Add_Recipe.html">Add Recipe</a></li>
          <li class="nav-item"><a class="nav-link" href="modify_recipe.html">Modify Recipe</a></li>
          <li class="nav-item"><a class="nav-link" href="view_recipe.html">View Recipe</a></li>
          <li class="nav-item"><a class="nav-link" href="">Favorite</a></li>
        </ul>
        <a class="navbar-brand btn btn-primary" href="#">Log out</a>
      </div>
  </div>
</nav>


    

<style>

    .parent-div{
        
    }
</style>
    
<div class="container-fluid" >

    <div class="row position-relative parent-div">
      <div class="col-sm-12 text-center">
        <img src="recipe_sign.jpg" alt="Not supported" class="img-fluid" >
          <div class="row position-absolute search-div">
              <div class="col-sm-12">
                  <form class="form-inline">
                      <div class="form-group ">
                        <input type="text" class="form-control" id="findRecipe" placeholder="Find A Recipe">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
              </div>
          </div>
      </div>
    </div>
    
    <div class="container-fluid bg-3 text-center ">   
    
    <div class="row">
<!--        <div class="col-sm-2"></div>-->
        <div class="col-sm-12 mt-3" style="">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Cameron Beans</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Ghana Jollof</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Austrian Meat</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
<!--        <div class="col-sm-2"></div>-->
    </div>
        
        
        
    <div class="row">
        <div class="col-sm-12" style="">
            <div class="card-deck mt-3">
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Cameron Rice</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Ghana Soup</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Mexican Borrito</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-12" style="">
            <div class="card-deck mt-3">
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Beans Soup</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Hot Sauce</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Catacala</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
    </div>

    </div>
</div>
    <footer class="col-sm-12 btn btn-danger">
    <div class="row">
            <div class="col-sm-3">
              Copyright 2017
            </div>
            <div class="col-sm-3 offset-sm-2">
              <ul id="footer_list">
                  <li>Terms</li>
                  <li>Privacy</li>
                  <li>Security</li>
                  <li>Help</li>

                </ul>
            </div>
    </div>
  
    
</footer>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

