body{
    color: #fff;
    background-color: #333;
/*
	margin: 0;
	padding: 0;
*/
}

.container-fluid{
	margin: 0;
/*    padding: 0;*/
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
 }

/*form*/
.add_recipe_form{
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 5px 50px 2px black;
    border-radius: 10px;
}

/*images*/
.img-fluid{
    max-width: 100%;
    height: auto;
}


/*others*/
.bg-3{
}


.sign{
    background-image: url(recipe.jpg);
}


.search-div{
    top: 200px;
    left: 200px;
    z-index: 3;
}
hr{

    border-style: inset;
    border-width: 1px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}



footer {
  background-color: dimgray;
/*  padding: 5px;*/
    margin: 0px;
}

ul#footer_list li{
    display: inline-block;
}



/*columns % rows
*/

.row{
/*    margin-bottom: 1em;*/
}

























/*sidebar nav*/


/*
.wrapper {
    display: flex;
    align-items: stretch;
}       
*/

/*vh is an unit that refers to the viewport height.*/

/*
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}


for smaller devices to keep sidebar initially closed

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
*/



