<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index_style.css">
</head>


<body>
<nav class=" col-sm-12 navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    
      <a class="navbar-brand" href="index.html">More Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="recipe_catalog.html">Recipes</a></li>
        </ul>
        <a class="navbar-brand btn btn-success" href="../template/signup.html">Sign up</a>
        <a class="navbar-brand btn btn-success" href="../template/signin.html">Login</a>  
      </div>
    
</div>
</nav>
    
<div class="container-fluid" >

    <div class="row">
      <div class="col-sm-12 text-center sign">
<!--        <img src="" alt="Not supported" class="img-fluid" >-->
        <div class="row sign">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" style="margin-top:125px; margin-bottom:200px">
                    <h1>Find A Recipe</h1>
                    <div class="form-group">
                        <form class="form-inline" method="post" action="" style="width: 100%;" role="form">
                            <input type="text" placeholder="Find A Recipe" name="fname" value="" class="form-control" required />
                            <button class="btn btn-success" name="submit" type="submit">Search</button>  
                        </form>
                    </div>
                </div>
            <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-3 text-center ">   
    
    <div class="row">
        <div class="col-sm-12 mt-3 text-center add_recipe_form"><h1>Chef's Choice</h1></div>
    </div>
        
    <div class="row">
        
        <div class="col-sm-4 mt-4">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Oxen Meat</h4>
                <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                <a href="./template/recipe.html" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Spicy Lam</h4>
                <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                <a href="./template/recipe.html" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Indian Soup</h4>
                <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                <a href="./template/recipe.html" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-sm-12 mt-3 text-center"><h1 class="mt-5">Feature recipes</h1></div>
    </div>
        
  <div class="row">
        
        <div class="col-sm-4 mt-4">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Oxen Meat</h4>
                <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                <a href="./template/recipe.html" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Spicy Lam</h4>
                <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                <a href="./template/recipe.html" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Indian Soup</h4>
                <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
        </div>
    </div>
        
        <div class="row">
            <div class="col-sm-12 mt-3 text-center"><h1 class="mt-5">Special Dishes</h1></div>
        </div>
        
         <div class="col-sm-12" style="">
            <div class="card-deck mt-4">
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Beans Soup</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Hot Sauce</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Catacala</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Catacala</h4>
                  <p class="card-text">This is a dish made specially for people with skills, its combination of popular health contents can make man a feel young again.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
                
            </div>
        </div>

    

    </div>



</div>

<footer class="footer col-sm-12 mt-3">
    <div class="container row col-sm-12" >
        <div class="col-sm-3">
          <span>Copyright 2017</span>
        </div>
        <div class="col-sm-6"></div>
        <div class=" col-sm-3 ">
          <ul id="footer_list">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
    </div>
</footer>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
