<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index_style.css">
</head>


<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">More_Recipes</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="recipe.html">Recipes</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>

  </div>
</nav>

    
<div class="row">
  <div class="text-center">
    <img src="mix.jpg" alt="Not supported" class="img-fluid" >
  </div>
</div>
    
    
<div class="container-fluid">


    <div class="container-fluid bg-3 text-center">    
      <h3>Feature recipes</h3><br>
      <div class="row">
        <div class="col-sm-3">
          <p>Indian Soup</p>
          <a href="recipe.html"><img src="recipe3.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-sm-3"> 
          <p>Austrian Beans</p>
          <a href="recipe.html"><img src="recipe3.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-sm-3"> 
          <p>Austrian Beans</p>
          <a href="recipe.html"><img src="recipe3.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
        </div>
        <div class="col-sm-3 ">
          <p>Austrian Beans</p>
          <a href="recipe.html"><img src="recipe3.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
        </div>
      </div>
    </div><br>

</div>

<footer class="container-fluid">
    <div class="row justify-content-between">
            <div class="col-sm-3">
              Copyright 2017
            </div>
            <div class="col-sm-3 offset-sm-4">
              <ul class="list-inline">
                  <li>Terms</li>
                  <li>Privacy</li>
                  <li>Security</li>
                  <li>Help</li>

                </ul>
            </div>
    </div>
  
    
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
