<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index_style.css">
  

</head>


<body>

  <div class="container-fluid">
        <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">More_Recipes</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="recipe.html">Recipes</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
</nav>
    </div>


<div class="container-fluid ">    
  <div class="row">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
        <h2>Chocolate Cake Recipe</h2>
      <img src="salad.jpg" class="img-responsive" style="width:100%" alt="Image" />
    </div>
    <div class="col-sm-2"> </div>
  </div>

    <div class="row">
        <div class="col-sm-2"> </div>
      <div class="col-sm-8">
        <hr >
        <h3>Ingredients.....</h3>
        <ul>
          <li>Do step A</li>
          <li>Do step B</li>
          <li>Do step C</li>
          <li>Do step D</li>
        </ul>
        <hr >
        <h3>Preparation....</h3>

        <p>Preheat oven to 375°F. Whisk flour, cinnamon, baking powder, espresso powder, baking soda, and salt in a medium bowl. Lightly beat eggs and vanilla in a   small bowl.
          Using an electric mixer on medium speed, beat butter, granulated sugar, and brown sugar in a large bowl until light and fluffy, 3–4 minutes. Add egg mixture and beat, occasionally scraping down sides of bowl, until mixture is pale and fluffy, 3–4 minutes. Reduce mixer speed to low and gradually add dry ingredients, beating until just incorporated. Fold in chocolate with a spatula.
          Press dough evenly into 12" skillet. Bake cookie until golden brown around the edges and center is still soft, 20–25 minutes. Let cookie cool in skillet before slicing.
          Do Ahead
          Cookie can be made 3 days ahead; cover and store at room temperature.</p>
          <hr>
        <h3>Related Video</h3>
        <video src=""></video>
        <hr>
        <h3>Leave A Review</h3>
        <textarea rows="5" cols="50"></textarea>
        <hr>
        <h3>Reviews</h3>
        <hr>
        </div>
    </div>
    <footer class="container-fluid text-center">
  <p>Copyright 2017</p>
</footer>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
