<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index_style.css">
</head>


<body>
<nav class="col-sm-12 navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    
      <a class="navbar-brand mr-5" href="index.html">More Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-5" style="">
          <li class="nav-item active"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="recipe_catalog.html">Recipes</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
        <a class="navbar-brand btn btn-success" href="signup.html">Sign up</a>
        <a class="navbar-brand btn btn-success" href="signin.html">Login</a>  
      </div>
    
</div>
</nav>

    

<style>

    .parent-div{
        
    }
</style>
    
<div class="container-fluid" >

    <div class="row">
      <div class="col-sm-12 text-center sign">
<!--        <img src="" alt="Not supported" class="img-fluid" >-->
        <div class="row sign">
            <div class="col-sm-3"></div>
                <div class="col-sm-7 text-center" style="margin-top:100px; margin-bottom:200px">
                    <h1>Find A Recipe</h1>
                    <div class="form-group">
                        <form class="form-inline col-sm-12" method="post" action="" role="form">
                            <input type="text" placeholder="Find A Recipe" name="fname" value="" class="form-control col-sm-10" required />
                            <button class="btn btn-success col-sm-2" name="submit" type="submit">Search</button>  
                        </form>
                    </div>
                </div>
            <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid bg-3 text-center ">   
    
    <div class="row">
        <div class="col-sm-12 text-center mb-3"><h1 class="mt-5">Our Recipes</h1></div>
    </div>
        
    <div class="row">
<!--        <div class="col-sm-2"></div>-->
        <div class="col-sm-12 mt-3" style="">
            <div class="card-deck">
            <div class="card" style="width: 20rem; height:20rem">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Cameron Beans</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Ghana Jollof</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Austrian Meat</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
<!--        <div class="col-sm-2"></div>-->
    </div>
        
        
        
    <div class="row">
       <div class="col-sm-12 mt-3" style="">
            <div class="card-deck">
            <div class="card" style="width: 20rem; height:20rem">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Cameron Beans</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Ghana Jollof</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Austrian Meat</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-3" style="">
            <div class="card-deck">
            <div class="card" style="width: 20rem; height:20rem">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Cameron Beans</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Ghana Jollof</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card" style="width: 20rem; height:20rem">
                <img class="card-img-top" src="recipe3.jpg" alt="Card image cap">
                <div class="card-body">
<!--
                  <h4 class="card-title">Austrian Meat</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
-->
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
    </div>

    </div>
</div>


    
    
<footer class="col-sm-12 btn btn-danger">
    <div class="row">
        <div class="col-sm-3">
          Copyright 2017
        </div>
        <div class="col-sm-3 offset-sm-2">
          <ul id="footer_list">
              <li>Terms</li>
              <li>Privacy</li>
              <li>Security</li>
              <li>Help</li>
            </ul>
         </div>
    </div>
</footer>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

