<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index_style.css">
  

</head>


<body>
<nav class="col-sm-12 navbar navbar-expand-lg navbar-dark bg-dark mb-5">
 <div class="container-fluid">
    
      <a class="navbar-brand mr-5" href="../index.html">More Recipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-5">
          <li class="nav-item active"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="recipe_catalog.html">Recipes</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
      </div>
</nav>
  <div class="col-sm-12 container-fluid">



<div class="col-sm-12 container-fluid ">    
  <div class="col-sm-12 row">
    <div class="col-sm-12 row">
      <h1 class="col-sm-12 text-center">Chocolate Cake Recipe</h1>
    </div>
    <div class="col-sm-12 row">
    <div class="col-sm-6 mt-5">
      <img src="salad.jpg" class="img-responsive" style="width:100%" alt="Image" />
    </div>
    <div class="col-sm-6 mt-5">
<!--      <hr >-->
      <h2>Ingredients.....</h2>
      <ul>
        <li>Do step A</li>
        <li>Do step B</li>
        <li>Do step C</li>
        <li>Do step D</li>
      </ul>
      <hr >
      <h2>Preparation....</h2>
      <p>Preheat oven to 375°F. Whisk flour, cinnamon, baking powder, espresso powder, baking soda, and salt in a medium bowl. Lightly beat eggs    and vanilla in a   small bowl.
          Using an electric mixer on medium speed, beat butter, granulated sugar, and brown sugar in a large bowl until light and fluffy, 3–4 minutes. Add egg mixture and beat, occasionally scraping down sides of bowl, until mixture is pale and fluffy, 3–4 minutes. Reduce mixer speed to low and gradually add dry ingredients, beating until just incorporated. Fold in chocolate with a spatula.
          Press dough evenly into 12" skillet. Bake cookie until golden brown around the edges and center is still soft, 20–25 minutes. Let cookie cool in skillet before slicing.
          Do Ahead
          Cookie can be made 3 days ahead; cover and store at room temperature.</p>
    </div>
  </div>
  <div class="col-sm-12">
    <hr>
        <h3>Related Video</h3>
        <video src=""></video>
        <hr>
  </div>
  <div class="col-sm-12">
        <h3>Leave A Review</h3>
        <form class="col-sm-10 form-group ">
          <textarea rows="10" cols="50" class="form-control" placeholder="Enter A Comment"></textarea>
        </form>
        <hr>
        <h3>Reviews</h3>
        <hr>
  </div>

<!--
    <div class="col-sm-12 row">
        <div class="col-sm-2"> </div>
      
    </div>
-->
  </div>
  </div>
</div>
<footer class="col-sm-12 btn btn-danger">
    <div class="row">
            <div class="col-sm-3">
              Copyright 2017
            </div>
            <div class="col-sm-3 offset-sm-2">
              <ul id="footer_list">
                  <li>Terms</li>
                  <li>Privacy</li>
                  <li>Security</li>
                  <li>Help</li>

                </ul>
            </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
